<section class="syllabus" id="basic">
    <span class="icon"><%= @syllabus.gakka %></span>
    <span class="icon"><%= @syllabus.gakubu %></span>
    <h1><%= @syllabus.title %></h1>
    <table>
        <tr>
            <th>教員</th>
            <td><%= @syllabus.instructor %></td>
            <th>単位</th>
            <td><%= @syllabus.credit %></td>
        </tr>
        <tr>
            <th>学期</th>
            <td>前期</td>
            <th>区分</th>
            <td><%= @syllabus.category %></td>
        </tr>
        <tr>
            <th>コマ</th>
            <td><%= @syllabus.week %>・<%= @syllabus.koma %></td>
            <th>履修</th>
            <td><%= @syllabus.elective %></td>
        </tr>
    </table>
    </section>
    <section class="syllabus" id="grade">
        <h2>成績評価方法</h2>
        <p>
            hugahuga
        </p>
    </section>
    <section class="syllabus" id="detail">
        <h2>概要</h2>
        <p>
            hogehogehogehogehogehogehogehogehogehogehogehoge
        </p>
        <h2>目的</h2>
        <p>
            hogehogehogehogehogehogehogehogehogehogehogehoge
        </p>
    </section>
    <section class="syllabus" id="plan">
        <h2>授業計画</h2>
        <p>
            foofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoo
        </p>
    </section>
    <section class="syllabus" id="text">
            <h2>教科書</h2>
            <p>
                foofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoo
            </p>
            <h2>参考書</h2>
            <p>
                foofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoo
            </p>
    </section>